@using Web.UI.Infrastructure.Alerts

@if (ViewData.GetAlerts().Count > 0)
{
    <div class="container alert-container">
        @foreach(var alert in ViewData.GetAlerts())
        {
            <div class="alert @alert.AlertClass alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                @alert.Message
            </div>
        }

    </div>
}
    
