<style>
    li {
        margin: 35px 0;
        font-size: 1.2em;
    }
</style>


<h2>Test Area</h2>

<ul>


    <li>    @Html.ActionLink("Test RedirectResult", "TestRedirectResult", "Home")</li>
    <li>    @Html.ActionLink("Test TestRedirectAction", "TestRedirectAction", "Home")</li>
</ul>
